html,
body,
header,
footer,
menu,
nav,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
strong,
i,
em,
ins,
u,
del,
hr,
input,
button,
img,
ul,
ol,
li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}