html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

.row {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.row > .col-1 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 1/12);
}
.row > .col-2 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 2/12);
}
.row > .col-3 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 3/12);
}
.row > .col-4 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 4/12);
}
.row > .col-5 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 5/12);
}
.row > .col-6 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 6/12);
}
.row > .col-7 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 7/12);
}
.row > .col-8 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 8/12);
}
.row > .col-9 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 9/12);
}
.row > .col-10 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 10/12);
}
.row > .col-11 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 11/12);
}
.row > .col-12 {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% * 12/12);
}
@media only screen and (min-width: 576px) {
  .row > .col-sm-1 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 1/12);
  }
  .row > .col-sm-2 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 2/12);
  }
  .row > .col-sm-3 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 3/12);
  }
  .row > .col-sm-4 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 4/12);
  }
  .row > .col-sm-5 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 5/12);
  }
  .row > .col-sm-6 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 6/12);
  }
  .row > .col-sm-7 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 7/12);
  }
  .row > .col-sm-8 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 8/12);
  }
  .row > .col-sm-9 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 9/12);
  }
  .row > .col-sm-10 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 10/12);
  }
  .row > .col-sm-11 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 11/12);
  }
  .row > .col-sm-12 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 12/12);
  }
}
@media only screen and (min-width: 768px) {
  .row > .col-md-1 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 1/12);
  }
  .row > .col-md-2 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 2/12);
  }
  .row > .col-md-3 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 3/12);
  }
  .row > .col-md-4 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 4/12);
  }
  .row > .col-md-5 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 5/12);
  }
  .row > .col-md-6 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 6/12);
  }
  .row > .col-md-7 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 7/12);
  }
  .row > .col-md-8 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 8/12);
  }
  .row > .col-md-9 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 9/12);
  }
  .row > .col-md-10 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 10/12);
  }
  .row > .col-md-11 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 11/12);
  }
  .row > .col-md-12 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 12/12);
  }
}
@media only screen and (min-width: 992px) {
  .row > .col-lg-1 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 1/12);
  }
  .row > .col-lg-2 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 2/12);
  }
  .row > .col-lg-3 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 3/12);
  }
  .row > .col-lg-4 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 4/12);
  }
  .row > .col-lg-5 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 5/12);
  }
  .row > .col-lg-6 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 6/12);
  }
  .row > .col-lg-7 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 7/12);
  }
  .row > .col-lg-8 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 8/12);
  }
  .row > .col-lg-9 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 9/12);
  }
  .row > .col-lg-10 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 10/12);
  }
  .row > .col-lg-11 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 11/12);
  }
  .row > .col-lg-12 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 12/12);
  }
}
@media only screen and (min-width: 1200px) {
  .row > .col-xl-1 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 1/12);
  }
  .row > .col-xl-2 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 2/12);
  }
  .row > .col-xl-3 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 3/12);
  }
  .row > .col-xl-4 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 4/12);
  }
  .row > .col-xl-5 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 5/12);
  }
  .row > .col-xl-6 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 6/12);
  }
  .row > .col-xl-7 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 7/12);
  }
  .row > .col-xl-8 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 8/12);
  }
  .row > .col-xl-9 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 9/12);
  }
  .row > .col-xl-10 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 10/12);
  }
  .row > .col-xl-11 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 11/12);
  }
  .row > .col-xl-12 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 12/12);
  }
}
@media only screen and (min-width: 1400px) {
  .row > .col-xxl-1 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 1/12);
  }
  .row > .col-xxl-2 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 2/12);
  }
  .row > .col-xxl-3 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 3/12);
  }
  .row > .col-xxl-4 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 4/12);
  }
  .row > .col-xxl-5 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 5/12);
  }
  .row > .col-xxl-6 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 6/12);
  }
  .row > .col-xxl-7 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 7/12);
  }
  .row > .col-xxl-8 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 8/12);
  }
  .row > .col-xxl-9 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 9/12);
  }
  .row > .col-xxl-10 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 10/12);
  }
  .row > .col-xxl-11 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 11/12);
  }
  .row > .col-xxl-12 {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% * 12/12);
  }
}

:root {
  --blue: #0d6efd;
  --red: #dc3545;
  --green: #198754;
  --yellow: #ffc107;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-800: #343a40;
  --gray-900: #212529;
}

.text-primary {
  color: --blue;
}

.text-success {
  color: --green;
}

.text-danger {
  color: --red;
}

.text-warning {
  color: --yellow;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

.nav {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  vertical-align: bottom;
  background-color: var(--gray-100);
  border-radius: 0.1rem;
  line-height: 3.6rem;
}
.nav .logo {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  vertical-align: bottom;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  margin-right: 1rem;
  font-size: larger;
  color: var(--gray-900);
}
.nav .nav-content {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  vertical-align: bottom;
  display: inline-block;
  height: 100%;
}
.nav .nav-content ul {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  vertical-align: bottom;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav .nav-content ul li {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  vertical-align: bottom;
}
.nav .nav-content ul li a {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  vertical-align: bottom;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0 0.7rem;
  color: var(--gray-800);
  transition: all 0.3s ease;
}
.nav .nav-content ul li a:hover {
  color: var(--gray-100);
  background-color: var(--gray-900);
}/*# sourceMappingURL=style.css.map */